# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
.DS_Store
/public/
# config.js
package.json
package-lock.json
.idea/
/logs/
primary.crt
private.key
.vscode